.parent_details {
    margin: 10px 0;
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--primary-borders-colour);
}

.parent_details:hover {
    background-color: #e3e6e8;
    cursor: pointer;
}

.resident_index {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 8px;
    margin: 10px 10px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
}

.parent_name_and_stuff {
    /*margin: 0 12px 12px 12px;*/
    margin: 10px 0;
    display: flex;
    line-height: 1.6;
}

.resident_distance {
    text-align: right;
    padding: 0 10px;
    margin-left: 0;
}

.resident_separator {
    border: 1px #666 solid;
    margin: 0 5px;
}