.schoolsOuterContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 280px;
}

.schoolCardsContainer {
    display: flex;
    text-align: center;
}

.showOnMapOption {
    margin: 10px 5px 0 0 ;
    text-align: right;

}