.schoolCardsContainer {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 1px solid blue;
    margin: 0 13vh;

}

.showOnMapOption {
    margin: 10px 5px 0 0 ;
    text-align: right;

}