.exitMap {
    position: absolute;
    z-index: 10;
    top: 7rem;
    left: 40px;
    background: #fDfDfD;
    padding: 4px;
    cursor: pointer;
    border-radius: 4px;
    color: var(--primary-color);
}

.exitMap span {
    margin: 0 5px;
}

.maps_container {
    margin: 10px 13px;
}

.mapdiv {
    margin: 10px 13px;
}